<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="com.liferay.ide.core.liferayProjectProviders"
	>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.GradleProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.gradleModuleProjectProvider"
			projectType="module"
			shortName="gradle-module"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.GradleModuleFragmentProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.gradleModuleFragmentProjectProvider"
			projectType="module-fragment"
			shortName="gradle-module-fragment"
		>
		</liferayProjectProvider>
		<liferayProjectProvider
			class="com.liferay.ide.gradle.core.LiferayGradleWorkspaceProjectProvider"
			displayName="Gradle"
			id="com.liferay.ide.gradle.core.liferayGradleWorkspaceProjectProvider"
			projectType="workspace"
			shortName="gradle-liferay-workspace"
		>
		</liferayProjectProvider>
	</extension>
	<extension
		point="com.liferay.ide.core.liferayProjectImporters"
	>
		<liferayProjectImporter
			buildType="gradle"
			class="com.liferay.ide.gradle.core.GradleModuleProjectImporter"
			id="com.liferay.ide.gradle.core.GradleModuleProjectImporter"
			priority="2"
		>
		</liferayProjectImporter>
	</extension>
	<extension
		point="org.eclipse.core.expressions.propertyTesters"
	>
		<propertyTester
			class="com.liferay.ide.gradle.core.GradleProjectPropertyTester"
			id="com.liferay.ide.gralde.core.isGardleProject"
			namespace="com.liferay.ide.gradle.core"
			properties="isGradleProject"
			type="org.eclipse.core.resources.IProject"
		>
		</propertyTester>
	</extension>

	<extension point="org.eclipse.ltk.core.refactoring.deleteParticipants">
		<deleteParticipant
			class="com.liferay.ide.gradle.core.LiferayGradleModuleProjectDeleteParticipant"
			id="com.liferay.ide.gradle.core.LiferayGradleModuleProjectDeleteParticipant"
			name="liferayGradleModuleProjectDeleteParticipant"
		>
			<enablement>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="com.liferay.ide.gradle.core.isGradleProject">
					</test>
				</adapt>
			</enablement>
		</deleteParticipant>
	</extension>
</plugin>